@model ProductApp.Models.Productmaster

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Productmaster</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Productname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Productname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producttypeid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producttypeid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Productstatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Productstatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Createuser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Createuser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Createdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Createdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updateuser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updateuser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updatedate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updatedate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Productid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
